<% include template/header %> 

<h3>hmm</h3>

<% pets.forEach(pet => { %>

    <li> <%= pet %> </li>

<% }); %>

    <form action="/addPet" method="POST">

        <input type="text" name="petname">
        <button>NEW</button>

    </form>

<% include template/footer %> 