body {
    background-color: #232323;
}

h1 {
    color: white;
}

#stripe {
    background-color: white;
    height: 30px;
    width: 100%;
    padding: 5px 5px;
    text-align: center;
}

#colorDisplay {
    text-transform: uppercase;
}

#container {
    margin: 0 auto;
    max-width: 600px;
}

.square {
   width: 30%;
   background: purple;
   padding-bottom: 30%;
   float: left;
   margin: 1.66%;
   border-radius: 20px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   -ms-border-radius: 20px;
   -o-border-radius: 20px;
}

.selected {
    background: blue;
}