.package {
	text-decoration: none;
	display: block;
	background: #DAFCDE;
	border: 1px solid black;
	margin: 10px;
	padding: 15px;
	width: 55%;
}

.package a {
	text-decoration: none;
}

.section-header {
	font-family:  sans-serif;
	color: black;
	text-shadow: 3px 3px 3px darkgray;
	font-size: 20px;
}

.section-header__sub {
	color: black;
	text-shadow: 1px 1px 1px darkgray;
}

.package p {
	background: white;
	padding: 5px 10px;
	color:  black;
}