<% include template/header %>

<h1>You fell in love with: <%= thingVar %></h1>

<% if(thingVar.toLowerCase() === "rusty") { %>
    <p>Good Choice</p>
<% } else { %>
    <p>Bad Choice</p>
<% } %>
<h2>P.s This is the love.ejs file</h2>

<% include template/footer %>