<!--start header template -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>POST REQUEST DEMO</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/style.css" rel="stylesheet">
    </head>
    <body>
<!--end header template-->